.Cronograma {
  text-align: center;
  display: flex;
  flex-direction: column; /* Define a direção da flexbox como coluna */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.student-home {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #b9b9b9; /* Cor mais clara para a barra lateral */
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0; /* Garante que a barra lateral encoste no canto esquerdo */
  top: 0; /* Garante que a barra lateral comece do topo */
  color: #000000; /* Torna o texto branco para melhor contraste */
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Torna a imagem circular */
  object-fit: cover; /* Garante que a imagem se ajuste bem ao contêiner */
  margin-bottom: 10px;
}

.info {
  text-align: center;
  padding: 10px;
}

.info h2 {
  margin: 0;
  font-size: 18px;
  color: #020202; /* Garante que o texto seja branco */
}

.info p {
  margin: 5px 0 0;
  color: #030303; /* Torna o texto um pouco mais claro */
}

.menu a {
  display: block;
  padding: 10px;
  margin: 5px 0;
  background-color: #0c0d0f; /* Cor de fundo dos links */
  color: #ddd; /* Torna o texto dos links mais claro */
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center; /* Centraliza o texto */
}

.menu a:hover {
  background-color: #555; /* Escurece a cor de fundo ao passar o mouse */
  color: #fff; /* Torna o texto branco ao passar o mouse */
}

.content {
  margin-left: 270px; /* Ajusta a margem esquerda para considerar a largura da barra lateral */
  padding: 20px;
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column; /* Define a direção da flexbox como coluna */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
