.Cronograma {
  text-align: center;
  display: flex;
  flex-direction: column; /* Define a direção da flexbox como coluna */
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  max-width: 100%;
  height: auto;
}
