.container-teacher-home {
  display: flex;
  height: 95vh;
  gap: 30px;
}

.barra-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 20%;
  background-color: #f9f9f9;
  border-radius: 14px;
  box-shadow: 0px 2px 6px #bebcbc;
}

.botao-logoff {
  margin: 34%;
}

.image {
  border-radius: 50%;
  border: 1.5px solid #adadad;
  width: 150px;
  height: 150px;
  justify-content: space-around;
  margin: 17% 17% 17% 27%;
}

.infos {
  margin: 0px 0px 0px 30px;
  text-align: left;
}

.container-cronograma {
  display: flex;
  flex-direction: column;
  margin: 10% 10% 10% 10%;
}

@media (max-width: 600px) {
  .container-teacher-home {
    display: flex;
    flex-direction: column;
    height: 95vh;
    gap: 30px;
  }

  .barra-lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    background-color: #f0e5e5;
    border-radius: 14px;
  }

  .botao-logoff {
    margin: 2%;
  }

  .image {
    display: none;
  }
}

@media (max-width: 1000px) {
  .container-teacher-home {
    display: flex;
    height: 95vh;
    gap: 30px;
  }

  .barra-lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 13%;
    background-color: #f0e5e5;
    border-radius: 14px;
  }

  .botao-logoff {
    margin: 2%;
  }

  .image {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container-teacher-home {
    display: flex;
    height: 95vh;
    gap: 30px;
  }

  .barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 14px;
    box-shadow: 0px 2px 6px #bebcbc;
  }

  .botao-logoff {
    margin: 2%;
  }

  .image {
    border-radius: 50%;
    border: 1.5px solid #adadad;
    width: 150px;
    height: 150px;
    justify-content: space-around;
    margin: 17% 17% 17% 17%;
  }

  .infos {
    margin: 0px 0px 0px 30px;
    text-align: left;
  }
}